<form (ngSubmit)="onSubmit()">
	<div class="form-control">
		<label for="text">Username</label>
		<input
			type="text"
			name="username"
			[(ngModel)]="username"
			id="username"
			placeholder="Username"
		/>
	</div>
	<div class="form-control">
		<label for="day">Password</label>
		<input
			type="password"
			name="password"
			[(ngModel)]="password"
			id="password"
			placeholder="Password"
		/>
	</div>
	<div class="form-control">
		<label for="day">Re-enter Password</label>
		<input
			type="password"
			name="repassword"
			[(ngModel)]="rePassword"
			id="repassword"
			placeholder="Password"
		/>
	</div>
	<input type="submit" value="Sign up" class="btn btn-block" />
</form>
